<script type="text/javascript">
    $(document).ready(inicio);
    function inicio () {
    	sombra();
    }
    function sombra() {
    	var canvas = document.getElementById('sombra');
		var izq = canvas.getContext('2d');
		izq.moveTo(0,0);
		izq.lineTo(78,30);
		izq.lineTo(78,0);
		izq.fillStyle = "rgb(0,51,204)";	
		izq.fill();
		var der = canvas.getContext('2d');
		der.moveTo(1054,0);
		der.lineTo(977,30);
		der.lineTo(977,0);
		der.fillStyle = "rgb(0,51,204)";
		der.fill();
    }
</script>




<div class="line1">
<p>
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
		natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, 
		pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringillLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
		natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, 
		pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringillLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
		natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, 
		pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringillLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
		natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, 
		pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringillLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
		natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, 
		pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringillLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
		natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, 
		pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringillLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
		natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, 
		pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringillLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
		natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, 
		pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringillLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
		natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, 
		pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringillLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
		natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, 
		pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringillLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
		natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, 
		pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringillLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
		natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, 
		pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringill
		<br>ium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringillLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
		natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, 
		pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringillLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
		natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, 
		pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringillLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
		natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, 
		pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringillLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
		natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, 
		pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringillLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
		natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, 
		pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringillLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
		natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, 
		pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringill
		<br>ium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringillLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
		natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, 
		pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringillLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
		natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, 
		pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringillLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
		natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, 
		pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringillLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
		natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, 
		pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringillLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
		natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, 
		pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringillLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
		natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, 
		pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringill
		<br>
		dwlkajdai
</p>

</div>