
// --------
//Font Faces
// --------
@font-face {
  font-family: 'Kautiva';
  src: url('Kautiva.ttf');
  src: local('Kautiva'), local('Kautiva'), url(Kautiva.ttf) format('truetype')
}

@font-face {
  font-family: 'Kautiva-Caps-Bold';
  src: url('Kautiva-Caps-Bold.ttf');
  src: local('Kautiva-Caps-Bold'), local('Kautiva-Caps-Bold'), url(Kautiva-Caps-Bold.ttf) format('truetype')
}



.line-top{
	background-color: #EDEDED;
	width: 899px;
	height: 7px;
	margin-left: 78px;
}

.header{
	background-color: #3366FF;
	color:#EDEDED;
	width: 1014px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	text-align: left;
	font-family: 'Nosifer', cursive;
	font-size: 2em;
	padding-left: 40px;
}

.line1{
	background-color: #EDEDED;
	color: grey;
	margin-bottom: 10px;
	top:0;
	width: 899px;
	margin-top: -40px;
	padding-top: 10px;
	margin-left: 78px;


}
.line1 p{

	padding: 15px;
}
.container{
	margin: 0 auto;
	width: 1054px;
}