<div class="line-top">
  
</div>
<div class="header">
<% if user_signed_in? %>
	Bienvenido! <%= current_user.email %>
	<p><%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete %></p>
<% else %>
	<p><%= link_to "Crea una cuenta!", new_user_registration_path %></p>
	<p>Si ya tienes cuenta! <%= link_to 'Logueate!', new_user_session_path %></p>
<% end -%>
</div>

<div style="width:1054px; margin:0 auto;">
	<canvas id="sombra" height="30" width="1054"></canvas>
</div>
<script type="text/javascript">
    $(document).ready(inicio);
    function inicio () {
    	sombra();
    }
    function sombra() {
    	var canvas = document.getElementById('sombra');
		var izq = canvas.getContext('2d');
		izq.moveTo(0,0);
		izq.lineTo(78,30);
		izq.lineTo(78,0);
		izq.fillStyle = "rgb(0,51,204)";	
		izq.fill();
		var der = canvas.getContext('2d');
		der.moveTo(1054,0);
		der.lineTo(977,30);
		der.lineTo(977,0);
		der.fillStyle = "rgb(0,51,204)";
		der.fill();
    }
</script>
